
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main_background_color: #EADBC9;
    --main_Text_color: #594B42;
}

*{
    font-family: 'Poppins';
}

body {
    color: var(--main_Text_color);
    background-color: var(--main_background_color);
    overflow: hidden;
}

.welcome-screen {
    text-align: center;
    background-color: var(--main_background_color);
    height: 100vh;
}

.welcome-screen h1 {
    background: #F0B7A1;
    background: linear-gradient(to right, #F0B7A1 0%, #BF6E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-screen button {
    align-self: center;
    font-size: large;
    font-weight: 400;
    width: 50vh;
    height: 10vh;
    border: 2px solid var(--main_Text_color);
    border-radius: 40px;
    color: var(--main_Text_color);
    background-color: #fff;
    transition: all 0.3s ease;
    
}

.welcome-screen button:hover {
    border: 2px solid var(--main_background_color);
    background-color: var(--main_Text_color);
    color: var(--main_background_color);
    transform: scale(1.05);
}

.main-content header {
    color: var(--main_background_color);
    background-color: #594b4240;
    border-bottom: 2px solid var(--main_background_color);
}

.sidebar {
    height: 100vh;
    top: 0;
    color: var(--main_Text_color);
}

.category-btn {
    align-self: center;
    font-size: large;
    font-weight: 400;
    height: 10vh;
    border: 1px solid var(--main_Text_color);
    border-radius: 40px;
    color: var(--main_Text_color);
    background-color: white;
    transition: all 0.3s ease;
}

.category-btn:focus {
    background-color: var(--main_Text_color);
    color: var(--main_background_color);
    border: 1px solid var(--main_Text_color);
}


.category-btn:hover {
    box-shadow: 7px 7px 12px rgba(25, 25, 25, 0.215);
    transform: scale(1.05);
}

#showed-item {
    transition: all 0.3s ease;
    border: 2px solid #594B42;
}

#showed-item:hover {
    box-shadow: 7px 7px 15px var(--main_Text_color);
    transform: scale(1.01);
}

.menu-section h1 {
    color: var(--main_background_color);
}

.menu-section {
    height: 75vh;
    overflow-y: auto;
}

.add-to-cart{
    padding: 7px 12px;
    background-color: var(--main_Text_color);
    color: var(--main_background_color);
    border: 1px solid var(--main_Text_color);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.add-to-cart:hover{
    background-color:var(--main_background_color);
    color: var(--main_Text_color);
    transform: scale(1.05);
}


.cart-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.cart-bar button {  
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--main_Text_color);
    color: var(--main_background_color);
    border: 1px solid var(--main_background_color);
    border-radius: 7px;
    transition: all 0.3s ease;
}
.cart-bar button:hover{
    background-color:var(--main_background_color);
    color: var(--main_Text_color);
    transform: scale(1.03);
}

.cart-info {
    font-size: 1.2rem;
    padding-left: 35vw;
}

.menu-items .col-md-4 {
    max-width: 33.33%;
    padding: 10px;
}

.menu-items .col-md-3 {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .menu-items .col-md-3 {
        max-width: 100%;
    }
}

.modal-dialog-centered {
    max-width: 600px;
}

#checkout-btn{  
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.remove-item {  
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--main_background_color);
    color: var(--main_Text_color);
    border: 1px solid var(--main_Text_color);
    border-radius: 7px;
    transition: all 0.3s ease;
}
.remove-item:hover{
    background-color:var(--main_Text_color);
    color: var(--main_background_color);
    transform: scale(1.03);
}

.modal, .menu-section, .welcome-screen, .main-content{
    background-color:hsla(0,11%,12%,1);
    background-image:
    radial-gradient(at 100% 100%, rgb(181, 158, 140) 0px, transparent 50%),
    radial-gradient(at 1% 100%, hsla(24,25%,46%,1) 0px, transparent 50%),
    radial-gradient(at 38% 7%, hsla(26,32%,29%,1) 0px, transparent 50%);
    background-size: 250% 250%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#viewCartModalLabel, #orderModalLabel, #paymentMethodModalLabel, #paymentModalLabel, #final-total, .paymentModalTotal, #orderConfirmationModalLabel, .orderModalOrderNumber{
    font-size: 1.5rem;
    color: var(--main_Text_color);
}

.dine-in, .take-away{
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
}

.pay-card, .pay-counter, #start-over-btn{
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin : 7px;
}

#pay-now{
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin : 7px;
}


.dine-in, .take-away, #checkout-btn,  .pay-card, .pay-counter, #pay-now, #start-over-btn{
    background-color: var(--main_Text_color);
    color: var(--main_background_color);
    border: 1px solid var(--main_background_color);
    border-radius: 7px;
    transition: all 0.3s ease;
}

.dine-in:hover, .take-away:hover, #checkout-btn:hover,  .pay-card:hover, .pay-counter:hover, #pay-now:hover, #start-over-btn:hover{
    background-color:var(--main_background_color);
    color: var(--main_Text_color);
    border: 1px solid var(--main_Text_color);
    transform: scale(1.03);
}

#total-text{
    font-size: 1.4rem;
    color: var(--main_Text_color);
}

.cart-item{
    padding-top: 15px;
    font-size: 1.1rem;
    color: var(--main_Text_color);
}
